@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000f8;
    --foreground: #ededed;
  }
}

body {
  background-color: #1a202c;
  color: #ffffff;
  font-family: sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}
